.content {
    padding: 0 8px;
}

.title {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 5px;
}

.subtitle {
    font-family: "Barlow", sans-serif;
    text-align: center;
    color: darkslategrey;
}


.topnav {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    0deg,
    #2c5cb0,
    #254f97 1px,
    #1e3f78 2px
  );
  color: white;
  overflow: hidden;
}

.topnav a:hover {
  color: #1900ff;
  transform: scale(1.0);
}

.topnav a {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #1e3150;
  color: white;
}

.desc {
  margin-right: 40px;
  margin-left: 40px;
  font-size: 18px;
  font-family: 'Verdana'
}

.contact {
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  margin-top: 25px
}

a:hover {
  color: rgb(0, 42, 255)
}

.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center; 
}

input[type="password"] { padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px; width: 200px;
}

input[type="text"] { padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px; width: 200px;
}

button {padding: 10px 20px;
  background-color: #007bff;
  color: white; border: none; 
  border-radius: 4px;
  cursor: pointer;
}

.id-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center; 
}

body {
    background-color: #fffef3f2;
    color: rgb(38, 38, 91);
    margin: 0;
    padding: 0;
}

p {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.topnav h3 {
    font-family: "Barlow", sans-serif;
    text-align: right;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}