body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffef3f2;
    margin: 0;
    padding: 0;
}

.content {
    padding: 0 8px;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: darkslategrey;
}


.topnav {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    0deg,
    #2c5cb0,
    #254f97 1px,
    #1e3f78 2px
  );
  overflow: hidden;
}

.topnav a:hover {
  color: #ff0066;
  text-shadow: 0 0 2px #ff0066; 
  transform: scale(1.05);
}

.topnav a {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #1e3150;
  color: white;
}

.desc {
  margin-right: 40px;
  margin-left: 40px;
  font-size: 18px;
  font-family: 'Verdana'
}

.contact {
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  margin-top: 25px
}

a:hover {
  text-shadow: 1px 0 rgb(160, 67, 0), -1px 0 rgb(145, 0, 143);
  transform: scale(1.05);
}

.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center; 
}

input[type="password"] { padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px; width: 200px;
}

input[type="text"] { padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px; width: 200px;
}

button {padding: 10px 20px;
  background-color: #007bff;
  color: white; border: none; 
  border-radius: 4px;
  cursor: pointer;
}

.id-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center; 
}